.banner {
    /* display: flex; */
    /* justify-content: center; */
    /* border: 1px solid black; */
}

.banner-logo {
    height: 75px;
    /* width: 75%; */
    margin-left: 725px;
    /* border: 1px solid black; */
}

.banner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logout-button {
    height: 75%;
}
