.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid yellow; */
}

.navbar_logo_container {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.navbar-logo {
    height: 40%;
    width: 40%;
    margin-left: 30px;
    /* border: 1px solid black */
}

.navbar_nav_container {
    display: flex;
    position: absolute;
    right: 5px;
    /* border: 1px solid green; */
}

.team-builder_nav {
    /* position: absolute; */
    margin-right: 10px;
    /* top: 31px; */
    text-decoration: none;
    color: red;
    /* border: 1px solid black; */
}
