.team {
    display: flex;
    justify-content: center;
}

.team_container {
    display: flex;
    justify-content: center;
    width: fit-content;
    border: 1px solid red;
    border-radius: 10px;
    margin-bottom: 10px;
}

.team_container_display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
