.carousel {
    /* height: 200px; */
    /* border: 1px solid black */
}

.teamName {
    display: flex;
    margin-left: 693px;
    border: 1px solid green;
    position: absolute;
    z-index:1000;
}
