.carousel_pokemon-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

.carousel_pokemon-title {
    color: white;
}

.staging-area_pokemon-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.staging-area_build {
    border: 1px solid red
}

.staging-area_submit {
    /* border: 1px solid green; */
    position: absolute;
    display: flex;
    font-size: 25px;
    color: white;
    background-color: black;
    margin-left: 589px;
    margin-top: 205px;
    height: 204px;
    width: 368px;
    align-items: center;
    justify-content: center;
}
