.splash_content-container {
    width: 800px;
    height: 600px;
    /* border: 1px solid black; */
    background-image: url("../Assets/Pokedex.png");
    background-size: cover;
    background-position: center;
}
