.splash-container {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.splash-container_image {
    margin-top: 15px;
    width: 48%;
    height: 48%;
    /* border: 1px solid black; */
}

#splash_auth-container {
    position: absolute;
    margin-left: 394px;
    margin-top: 160px;
}

.splash_auth-buttons {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 275px;
    height: 345px;
    align-items: center;
    justify-content: space-evenly;
}
