.pokedex-power-button {
    position: absolute;
    height: 57.5px;
    width: 57.5px;
    margin-right: 633px;
    margin-top: 33.75px;
    border-radius: 50%;
    border: 1px solid green;
}

.splash-container_logo {
    position: absolute;
    width: 15%;
    height: 15%;
    margin-left: -670px;
    margin-top: 235px;
}

/* .modal {
    height: 75px;
} */

.pokedex-power-button:hover {
    background-color: red;
}

.splash-container {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* border: 1px solid black; */
}

.splash-container_image {
    margin-top: 15px;
    width: 48%;
    height: 48%;
    /* border: 1px solid black; */
}

#splash_auth-container {
    position: absolute;
    margin-left: 394px;
    margin-top: 160px;
}

.splash_auth-buttons {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 275px;
    height: 345px;
    align-items: center;
    justify-content: space-evenly;
}
