.splash-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.splash-container_image {
    margin-top: 15px;
    width: 48%;
    height: 48%;
    /* border: 1px solid black; */
}
