.splash-page_container {
    background-image: url('./Assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.team-builder_container {
    background-image: url('./Assets/stadium.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.splash-page_title-container {
    display: flex;
    justify-content: center;
}

.splash-page_title {
    font-size: 50px;
}
